body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:red
}

.boutton {
    color:blueviolet
}

.background {
    max-width: 100%;
    height: auto;
}
.tableau {
    background-color: rgb(199, 199, 199);
    width: 50%;
}

td {
    background-color: rgb(252, 250, 250);
}

header {
    text-align: center;
    background-color: aquamarine;
    padding: 40px;
}

.header button {
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: large;
}