body {
    font-family: "totally-glyphic", sans-serif;
    background-color: violet;
}

.boutton {
    color:blueviolet
}

.tableau {
    background-color: rgb(199, 199, 199);
    width: 50%;
}

td {
    background-color: rgb(252, 250, 250);
}

header {
    text-align: center;
    background-color: rgb(255, 0, 200);
    padding: 40px;
    
}

.header button {
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: large;
    background-color: darkgoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titre {
    background-image: url(Images/background.jpg);
    background-position: center;
    background-size: 100%;
    text-align: center;
}

.titre h1 {
    color:red;
    font-size: 50px;
}

.titre p {
    font-size: 30px;
    color: white;
}

.tracklist {
    text-align: center;
}